# Ignorar el Makefile local que usas para testear
Makefile

# Ignorar todos los archivos objeto generados por compilación
*.o

# Ignorar archivos ejecutables comunes y de prueba
a.out
*.out
checker

# Ignorar directorios de configuración
*.swp
*.swo
*.gch
*.swn

# Ignorar archivos que no quiero en el bonus
le_*